:root {
  --gap: 5px;
  --elements-width: calc((100% - var(--gap)) / 2);
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.clock {
  font-size: 72px;
  font-weight: 700;
  display: flex;
  flex-wrap: nowrap;
  gap: 20px;
}

.clock__numbers {
  display: flex;
  flex-wrap: wrap;
  gap: var(--gap);
  overflow: hidden;
  position: relative;
}

.hours__numbers,
.minutes__numbers,
.seconds__numbers {
  flex-basis: var(--elements-width);
}

.hours__numbersa,
.minutes__numbersa,
.seconds__numbersa {
  position: absolute;
  top: -100%;
}
